<h1>Edit Image</h1>
<%=image_tag @image.attachment.url(:medium) %>
<%= render('layouts/errors', :object => @image) %>

<%= simple_form_for [@user, @image], url: image_path do |form| %>
  <%= form.input :title, as: :string %>
  <%=  %>
  <%= form.input :attachment, as: :file %>
  <%= form.collection_check_boxes :tag_ids, @tags, :id, :name do |t| %>
    <%= t.label do %>
      <%= t.check_box + t.text %>
    <% end %>
  <%end  %>
  <%= form.submit class: 'btn btn-success'%>
<% end %>
