<h1>Images#show</h1>

<%=image_tag @image.attachment.url(:medium) %>
<h6><%= @image.title  %> by <%= @image_owner.name %></h6>


<% if @current_user == @image_owner %>
<%= link_to 'Edit Image', edit_image_path, :class => 'btn btn-success'  %>
  <%= link_to 'Delete Image', image_path(@image, @image_owner), :method =>'delete', :data => {:confirm => 'You sure?'}, :class => 'btn btn-danger'%>
<% end %>
