<!DOCTYPE html>
<html>
  <head>
    <title>FlickrClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Dashboard</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/images/new">Add Image</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
        </ul>
        <span class="navbar-brand">
          <% if current_user %>
            <%= current_user.name %> | <%= link_to "Sign out", '/signout', class: 'user-button' %>
          <% else %>
            <%= link_to "Sign up", 'signup' %> | <%= link_to "Sign in", '/signin', class: 'user-button' %>
          <% end %>
        </span>
      </div>
    </nav>
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Flick Clone</h1>
        <p class="lead text-muted">Share Your Image Today</p>
        <p>
          <a href="#" class="btn btn-primary">Sign Up</a>
          <a href="#" class="btn btn-secondary">Sign In</a>
        </p>
      </div>
    </section>
    <div class="container">

      <% if current_user %>
        <%= current_user.name %> | <%= link_to "Sign out", '/signout' %>
      <% else %>
        <%= link_to "Sign up", 'signup' %> | <%= link_to "Sign in", '/signin' %>
      <% end %>

      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= yield %>
    </div>
  </body>
</html>
